.filter {
    flex-direction: row;
    display: flex;
    font-size: 17px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    appearance: none;
    margin-top: 0px
}

select {
    display: block;
    height: 32px;
    line-height: 20px;
    font-size: 14px;
    width: 90px;
    margin: 20px auto;
    background: white;
    height: 45px;
    margin-top: 0px;
    margin-right: 5px;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -khtml-appearance: none;
}

.select::-ms-expand {
    display: none;
}